{
  "openapi": "3.0.3",
  "info": {
    "title": "Timezynk API",
    "description": "API for Timezynk scheduling system",
    "version": "2.7.0"
  },
  "security": [
    {
      "TZApiAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Endpoints for authentication and configuration"
    },
    {
      "name": "Availability",
      "description": "Fetching and updating availability"
    },
    {
      "name": "Invoice",
      "description": "Fetching, updating and creating invoices"
    },
    {
      "name": "Invoice articles",
      "description": "Fetching, updating and creating invoices articles"
    },
    {
      "name": "User",
      "description": "Calls for fetching and updating the system users."
    },
    {
      "name": "Shift",
      "description": "Calls for fetching and updating scheduled shifts."
    },
    {
      "name": "Time Reports",
      "description": "Time reports are the actual worked time as reported by the user."
    },
    {
      "name": "Registry",
      "description": "The registry handles custom data lists and their definitions."
    },
    {
      "name": "Registry Data",
      "description": "Data contained in a registry."
    },
    {
      "name": "Fields",
      "description": "The fields are used to specify the format for a specific registry instance."
    },
    {
      "name": "Salary articles",
      "description": "Fetching, updating and creating salary articles"
    },
    {
      "name": "Settings",
      "description": "Settings are used to store and retreive configuration parameters."
    },
    {
      "name": "RfQs - outgoing",
      "description": "Outgoing RfQs are requests for quotes that are sent to the companys suppliers."
    },
    {
      "name": "RfQs - incoming",
      "description": "Incoming RfQs are requests for quotes that are received from the companys clients."
    },
    {
      "name": "RfQ shifts - outgoing"
    },
    {
      "name": "RfQ shifts - incoming"
    },
    {
      "name": "Quote shifts - outgoing"
    },
    {
      "name": "Quote shifts - incoming"
    },
    {
      "name": "Quote shift responses - outgoing"
    },
    {
      "name": "Quote shift responses - incoming"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Order Forms"
    },
    {
      "name": "Order Clients"
    },
    {
      "name": "Order Suppliers"
    },
    {
      "name": "Experimental",
      "description": "These APIs are experimental and and may be changed at any time without warning."
    }
  ],
  "servers": [
    {
      "url": "https://api.timezynk.com/api"
    }
  ],
  "paths": {
    "/articles/invoice": {
      "get": {
        "summary": "Fetch invoice articles",
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Array of invoice articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceArticle"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create invoice article",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceArticle"
              }
            }
          },
          "description": "Invoice article to be added",
          "required": true
        },
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice article object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceArticle"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/articles/invoice/{articleId}": {
      "get": {
        "summary": "Fetch invoice article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Invoice article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceArticle"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update invoice article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceArticle"
              }
            }
          },
          "description": "Invoice article changes",
          "required": true
        },
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Updated invoice article object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceArticle"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/articles/salary": {
      "get": {
        "summary": "Fetch salary articles",
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Array of salary articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalaryArticle"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create salary article",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalaryArticle"
              }
            }
          },
          "description": "Salary article to be added",
          "required": true
        },
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Newly added salary article object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalaryArticle"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/articles/salary/{articleId}": {
      "get": {
        "summary": "Fetch salary article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Salary article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalaryArticle"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update salary article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalaryArticle"
              }
            }
          },
          "description": "Salary article changes",
          "required": true
        },
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Updated salary article object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalaryArticle"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/availability": {
      "get": {
        "summary": "Fetch availability",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/startParam"
          },
          {
            "$ref": "#/components/parameters/endParam"
          },
          {
            "$ref": "#/components/parameters/criteriaParam"
          },
          {
            "in": "query",
            "name": "user-id",
            "description": "Find availability for the given user id",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of availabilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Availability"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create availability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Availability"
              }
            }
          },
          "description": "Availability to be added",
          "required": true
        },
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Newly added availability object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Availability"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/availability/{availabilityId}": {
      "get": {
        "summary": "Fetch planned availability",
        "parameters": [
          {
            "name": "availabilityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Availability object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Availability"
                }
              }
            }
          },
          "404": {
            "description": "Availability not found"
          }
        }
      },
      "put": {
        "summary": "Update planned availability",
        "parameters": [
          {
            "name": "availabilityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Availability"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Updated availability object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Availability"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Availability not found"
          }
        }
      },
      "delete": {
        "summary": "Delete planned availability",
        "parameters": [
          {
            "name": "availabilityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Delete successful"
          }
        }
      }
    },
    "/booked-shifts": {
      "put": {
        "summary": "Book and unbook users on shifts",
        "tags": [
          "Shift"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShiftBookingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bookings completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftBookingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk/articles/invoice": {
      "post": {
        "summary": "Create multiple invoice articles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InvoiceArticle"
                }
              }
            }
          },
          "description": "Invoice articles to be added",
          "required": true
        },
        "tags": [
          "Invoice articles"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice article objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceArticle"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/bulk/articles/salary": {
      "post": {
        "summary": "Create multiple salary articles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SalaryArticle"
                }
              }
            }
          },
          "description": "Salary articles to be added",
          "required": true
        },
        "tags": [
          "Salary articles"
        ],
        "responses": {
          "200": {
            "description": "Newly added salary article objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalaryArticle"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/bulk/invoice-rows": {
      "post": {
        "summary": "Create multiple invoice rows",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InvoiceRow"
                }
              }
            }
          },
          "description": "Invoice rows to be added",
          "required": true
        },
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceRow"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "summary": "Delete multiple invoice rows",
        "parameters": [
          {
            "name": "invoice-id",
            "in": "query",
            "required": true,
            "description": "Invoice ID to delete rows for",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Delete successful"
          }
        }
      }
    },
    "/domain-log/v1": {
      "get": {
        "summary": "Fetch changes",
        "tags": [
          "Experimental"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Oldest timestamp to fetch changes for",
            "schema": {
              "type": "number",
              "format": "timestamp"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Newest timestamp to fetch changes for",
            "schema": {
              "type": "number",
              "format": "timestamp"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Type of changes to fetch",
            "schema": {
              "type": "string",
              "enum": [
                "create",
                "update",
                "delete"
              ]
            }
          },
          {
            "name": "user-id",
            "in": "query",
            "required": false,
            "description": "Fetch changes done by a specific user",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of changes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LogItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/experimental/blocked-inquiries": {
      "get": {
        "summary": "Find blocked inquiries",
        "description": "Find open inquiries that are blocked by overlapping or adjacent shifts.",
        "tags": [
          "Experimental"
        ],
        "responses": {
          "200": {
            "description": "List blocked inquiries with blocking info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "ObjectId",
                        "description": "Inquiry ID"
                      },
                      "shift-id": {
                        "type": "string",
                        "format": "ObjectId"
                      },
                      "user-id": {
                        "type": "string",
                        "format": "ObjectId"
                      },
                      "duplicity": {
                        "type": "number",
                        "description": "Maximum (and desired) number of booked users"
                      },
                      "booked-users": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "ObjectId"
                        }
                      },
                      "overlapping-shift-ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "ObjectId"
                        }
                      },
                      "adjacent-shift-ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "ObjectId"
                        }
                      },
                      "overlapping-availability": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "ObjectId"
                            },
                            "available": {
                              "type": "boolean",
                              "description": "True if user is available, false if not available."
                            },
                            "start": {
                              "type": "string",
                              "format": "local-date-time",
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(.\\d{3})?$",
                              "description": "Start of shift without time zone (i.e. 2019-04-30T15:41:00.000)"
                            },
                            "end": {
                              "type": "string",
                              "format": "local-date-time",
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(.\\d{3})?$",
                              "description": "End of shift without time zone (i.e. 2019-04-30T15:41:00.000)"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No blocked inquiries found"
          }
        }
      }
    },
    "/fields": {
      "get": {
        "summary": "Index available registry field types",
        "tags": [
          "Fields"
        ],
        "responses": {
          "200": {
            "description": "A list of all valid registry field types. One of these must be the basis for creating a new custom registry field.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices-export": {
      "get": {
        "summary": "Fetch invoice exports",
        "tags": [
          "Invoice"
        ],
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "description": "Target to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "State to search for",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "failed",
                "completed",
                "download"
              ]
            }
          },
          {
            "name": "invoice-id",
            "in": "query",
            "description": "Invoice ID to search for",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of invoice exports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceExport"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create single invoice export",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceExport"
              }
            }
          },
          "description": "Invoice to be added",
          "required": true
        },
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice export",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceExport"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/invoices-rows": {
      "get": {
        "summary": "Fetch invoice rows",
        "tags": [
          "Invoice"
        ],
        "parameters": [
          {
            "name": "invoice-id",
            "in": "query",
            "required": true,
            "description": "Invoice to fetch the rows for",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of invoice rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceRow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create single invoice row",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRow"
              }
            }
          },
          "description": "Invoice to be added",
          "required": true
        },
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice row",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRow"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/invoices-rows/{rowId}": {
      "get": {
        "summary": "Fetch invoice row",
        "parameters": [
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRow"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "put": {
        "summary": "Update invoice row",
        "parameters": [
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRow"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Updated invoice row object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRow"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "delete": {
        "summary": "Delete invoice row",
        "parameters": [
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Delete successful"
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "Fetch invoices",
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Array of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create invoices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          },
          "description": "Invoice to be added",
          "required": true
        },
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Newly added invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "summary": "Fetch invoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "put": {
        "summary": "Update invoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Updated invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "delete": {
        "summary": "Delete invoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Invoice"
        ],
        "responses": {
          "200": {
            "description": "Delete successful"
          }
        }
      }
    },
    "/oauth2/v1/tokeninfo": {
      "get": {
        "summary": "Token info",
        "description": "Decode your authentication token and check current roles and user.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Authentication token information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenInfo"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/v1/userinfo": {
      "get": {
        "summary": "User info",
        "description": "OpenID Connect User Info endpoint. Returns decoded standardized claims.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "User claims",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/client-forms": {
      "get": {
        "summary": "[Client] Fetch forms\n",
        "description": "Endpoint for fetching order forms for a client.",
        "tags": [
          "Order Forms"
        ],
        "responses": {
          "200": {
            "description": "Single order client form item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderForm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order client not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/client-forms/{orderFormId}": {
      "get": {
        "summary": "[Client] Fetch single form\n",
        "description": "Endpoint for fetching a signel order form for a client.",
        "tags": [
          "Order Forms"
        ],
        "parameters": [
          {
            "name": "orderFormId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of order client forms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderForm"
                }
              }
            }
          },
          "404": {
            "description": "Order client not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/clients": {
      "get": {
        "summary": "List order clients",
        "description": "The Order Clients endpoint returns a list of all invited and active order clients.\n",
        "tags": [
          "Order Clients"
        ],
        "responses": {
          "200": {
            "description": "An array of order clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderClient"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create order clients",
        "description": "Endpoint for creating an order client. When the order client is created, an email invitation will be sent to the entered email.\n",
        "tags": [
          "Order Clients"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderClient"
              }
            }
          },
          "description": "Order client to be created.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "An array of order clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderClient"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/clients/{orderClientId}": {
      "get": {
        "summary": "Fetch single order client",
        "description": "Endpoint for fetching a single order client",
        "tags": [
          "Order Clients"
        ],
        "parameters": [
          {
            "name": "orderClientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single order client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderClient"
                }
              }
            }
          },
          "404": {
            "description": "Order client not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/clients/{orderClientId}/send-invite": {
      "post": {
        "summary": "Send invite email",
        "description": "Endpoint for sending an invitation email to a created order client.",
        "tags": [
          "Order Clients"
        ],
        "parameters": [
          {
            "name": "orderClientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of order client forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderForm"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/clients/confirm/{supplierCode} copy": {
      "put": {
        "summary": "Confirm client",
        "description": "The Confirm Client endpoint allows a user to confirm a supplier invitation from a client.\n",
        "tags": [
          "Order Clients"
        ],
        "parameters": [
          {
            "name": "supplierCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "description": "Company Id of Client.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "company-id": {
                    "type": "string",
                    "description": "Id of the company for the client.",
                    "format": "ObjectId"
                  }
                },
                "required": [
                  "company-id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "* Client could not be added\n* Client already added\n"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/forms": {
      "get": {
        "summary": "List order forms",
        "description": "The Order Forms endpoint returns a list of all created order forms.\n",
        "tags": [
          "Order Forms"
        ],
        "responses": {
          "200": {
            "description": "An array of order froms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderForm"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/forms/{orderFormId}": {
      "get": {
        "summary": "Fetch single order form",
        "description": "Endpoint for fetching a single order form",
        "tags": [
          "Order Forms"
        ],
        "parameters": [
          {
            "name": "orderFormId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single order form",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderForm"
                }
              }
            }
          },
          "404": {
            "description": "Order form not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/orders": {
      "get": {
        "summary": "Index orders",
        "description": "The Orders endpoint returns an array of all created orders.\n",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "An array of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create order",
        "description": "Endpoint for creating a new order\n\nTo create an order you first need to fetch an Order Form. You should then use `id`, `vid`, `supplier-id`, and `fields` to build your Order object.\n",
        "requestBody": {
          "description": "Order object to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Order"
                  },
                  {
                    "properties": {
                      "shifts": {
                        "type": "array",
                        "description": "List of shifts to be created for this order.",
                        "items": {
                          "$ref": "#/components/schemas/Shift"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Newly added order object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/orders/{orderId}": {
      "get": {
        "summary": "Fetch single order",
        "description": "Endpoint for fetching a single user",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single order object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/orders/v2/orders/{orderId}/{status}": {
      "put": {
        "summary": "Update order status",
        "description": "Endpoint for updating a single order's status.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "seen",
                "accepted",
                "approved",
                "client-approved",
                "done",
                "rejected"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single order object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/orders/v2/orders/incoming": {
      "get": {
        "summary": "Index incoming orders",
        "description": "The Orders endpoint returns an array of all incoming orders.\n",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "An array of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/orders/outgoing": {
      "get": {
        "summary": "Index outgoing orders",
        "description": "The Orders endpoint returns an array of all outoing orders.\n",
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "An array of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/suppliers": {
      "get": {
        "summary": "List available suppliers",
        "description": "The Order Suppliers endpoint returns a list of all available to place orders from.\n",
        "tags": [
          "Order Suppliers"
        ],
        "responses": {
          "200": {
            "description": "An array of order suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderSupplier"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create order suppliers",
        "description": "Endpoint for creating an order supplier. When the order supplier is created, an email invitation will be sent to the entered email.\n",
        "tags": [
          "Order Suppliers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderSupplier"
              }
            }
          },
          "description": "Order supplier to be created.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "An array of order suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderSupplier"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/suppliers/{orderSupplierId}": {
      "get": {
        "summary": "Fetch single order supplier",
        "description": "Endpoint for fetching a single order supplier",
        "tags": [
          "Order Suppliers"
        ],
        "parameters": [
          {
            "name": "orderSupplierId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single order supplier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSupplier"
                }
              }
            }
          },
          "404": {
            "description": "Order supplier not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/v2/suppliers/confirm/{supplierCode}": {
      "put": {
        "summary": "Confirm supplier",
        "description": "The Confirm Supplier endpoint allows a user to confirm a client invitation from a supplier.\n",
        "tags": [
          "Order Suppliers"
        ],
        "parameters": [
          {
            "name": "supplierCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "description": "Company Id of Supplier.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "company-id": {
                    "type": "string",
                    "description": "Id of the company for the supplier.",
                    "format": "ObjectId"
                  }
                },
                "required": [
                  "company-id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "* Supplier could not be added\n* Supplier already added\n"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/published-shifts": {
      "put": {
        "summary": "Publish shifts",
        "tags": [
          "Shift"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShiftPublishRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bookings completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftPublishResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Unpublish shifts",
        "tags": [
          "Shift"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShiftUnpublishRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bookings completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftPublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/registry-data": {
      "get": {
        "summary": "List all registry data",
        "tags": [
          "Registry Data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "registry-id",
            "description": "Only return data for registry with this ID.",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of registry data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegistryData"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new registry data",
        "tags": [
          "Registry Data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "preprocess",
            "description": "Preprocess data before saving, setting any calculated fields.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RegistryData"
        },
        "responses": {
          "200": {
            "description": "Created registry data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryData"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/registry-data/{registryDataId}": {
      "get": {
        "summary": "Get single registry data",
        "tags": [
          "Registry Data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "registryDataId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registry data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryData"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "summary": "Update registry data",
        "tags": [
          "Registry Data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "registryDataId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          },
          {
            "in": "query",
            "name": "preprocess",
            "description": "Preprocess data before saving, setting any calculated fields.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RegistryData"
        },
        "responses": {
          "200": {
            "description": "Updated registry data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryData"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/registry-fields": {
      "get": {
        "summary": "List custom registry fields",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "registry-id",
            "description": "Only return data for registry with this ID.",
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all custom registry fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new custom registry field",
        "tags": [
          "Fields"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Field"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Newly created registry field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/registry": {
      "get": {
        "summary": "Index available registers",
        "tags": [
          "Registry"
        ],
        "responses": {
          "200": {
            "description": "List of all custom registers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Registry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new custom registry",
        "tags": [
          "Registry"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Registry"
        },
        "responses": {
          "200": {
            "description": "Newly created registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registry"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/registry/{registryId}": {
      "get": {
        "summary": "Get single custom registry",
        "tags": [
          "Registry"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "registryId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registry"
                }
              }
            }
          },
          "404": {
            "description": "Registry not found"
          }
        }
      },
      "put": {
        "summary": "Update custom registry",
        "tags": [
          "Registry"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "registryId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Registry"
        },
        "responses": {
          "200": {
            "description": "Updated registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registry"
                }
              }
            }
          },
          "404": {
            "description": "Registry not found"
          }
        }
      }
    },
    "/rfqs/v1/bulk/rfqs/incoming/{incomingRfqId}/quoteshifts": {
      "post": {
        "summary": "Create multiple quote shifts",
        "description": "Endpoint for creating an array of new quote shifts.",
        "parameters": [
          {
            "in": "path",
            "name": "incomingRfqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "description": "Quote shifts to be added",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "properties": {
                    "rfq-shift-id": {
                      "type": "string",
                      "format": "ObjectId",
                      "description": "The corresponding shift-id from the RfQ."
                    },
                    "booked-users": {
                      "type": "array",
                      "description": "A list containing exactly one user id.",
                      "items": {
                        "type": "string",
                        "format": "ObjectId"
                      }
                    },
                    "booked-user": {
                      "type": "object",
                      "description": "Suggested user for this shift",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of worker"
                        },
                        "id-no": {
                          "type": "string",
                          "description": "National identification number (personnummer) of the worker"
                        }
                      },
                      "required": [
                        "name",
                        "id-no"
                      ]
                    },
                    "outgoing-rfq-id": {
                      "type": "string",
                      "description": "Id of the rfq parent this rfq was created from.\n",
                      "format": "ObjectId"
                    },
                    "incoming-rfq-id": {
                      "type": "string",
                      "description": "Id of the RfQ.\n",
                      "format": "ObjectId"
                    }
                  },
                  "required": [
                    "rfq-shift-id",
                    "booked-users",
                    "booked-user",
                    "outgoing-rfq-id",
                    "incoming-rfq-id",
                    "client-id"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Quote shifts - outgoing"
        ],
        "responses": {
          "200": {
            "description": "Newly added quote shifts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShift"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A valid outgoing rfq is required. / Expecting booked users to contain exactly one id.\n"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/bulk/rfqs/outgoing/{outgoingRfqId}/shifts": {
      "post": {
        "summary": "Create multiple RfQ shifts",
        "description": "Bulk request to create multiple RfQ shifts in one call",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RfqShift"
                }
              }
            }
          },
          "description": "RfQ shifts to be added",
          "required": true
        },
        "tags": [
          "RfQ shifts - outgoing"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "outgoingRfqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly added RfQ shifts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RfqShift"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming": {
      "get": {
        "summary": "Fetch RfQs",
        "description": "The RfQs endpoint returns an array of all incoming RfQs.\n",
        "tags": [
          "RfQs - incoming"
        ],
        "responses": {
          "200": {
            "description": "An array of RfQs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rfq"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{incomingRfqId}/quoteshiftresponses": {
      "get": {
        "summary": "Fetch quote shifts responses",
        "description": "Endpoint returns an array of all quote shifts responses.\n",
        "tags": [
          "Quote shift responses - incoming"
        ],
        "parameters": [
          {
            "name": "incomingRfqId",
            "in": "path",
            "description": "The quote shifts response id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of quote shift responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShiftsResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{incomingRfqId}/quoteshiftresponses/{incomingResponseId}": {
      "get": {
        "summary": "Fetch single quote shifts response",
        "description": "Endpoint for fetching a single quote shifts response.\n",
        "tags": [
          "Quote shift responses - incoming"
        ],
        "parameters": [
          {
            "name": "incomingRfqId",
            "in": "path",
            "description": "The quote shifts response id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          },
          {
            "name": "incomingResponseId",
            "in": "path",
            "description": "The quote shifts response id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single quote shifts response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteShiftsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Quote not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{incomingRfqId}/quoteshiftresponses/{incomingResponseId}/confirm": {
      "post": {
        "summary": "Confirm quote shifts response",
        "description": "Endpoint for a supplier to confirm a quote shift response.\n\nSide effects:\n* Incoming rfq set to CONFIRMED iff ACCEPTED linked quote shift responses = 0.\n* Linked quote shifts in rfq shift accepted list moved to confirmed list.\n* (When an rfq shift duplicity = confirmed quote shifts, set other quote shifts to REJECTED.)\n* Set linked quote shifts to CONFIRMED.\n",
        "tags": [
          "Quote shift responses - incoming"
        ],
        "parameters": [
          {
            "name": "incomingRfqId",
            "in": "path",
            "description": "The quote shifts response id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          },
          {
            "name": "incomingResponseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated quote shifts response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteShiftsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Quote not found"
          },
          "409": {
            "description": "Quote shift response does not have status ACCEPTED"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{incomingRfqId}/quoteshiftresponses/{incomingResponseId}/refuse": {
      "post": {
        "summary": "Refuse quote shifts response",
        "description": "Endpoint for a supplier to refuse a quote shift response.\n\nSide effects:\n* Collect all quote shift responses for incoming rfq.\n  * When responses with status ACCEPTED = 0:\n    * if responses with status CONFIRMED = 0: set incoming rfq to REFUSED.\n    * else: set status to CONFIRMED.\n* Linked quote shifts are removed from rfq shift accepted lists.\n* Set linked quote shifts to REFUSED.\n",
        "tags": [
          "Quote shift responses - incoming"
        ],
        "parameters": [
          {
            "name": "incomingRfqId",
            "in": "path",
            "description": "The quote shifts response id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          },
          {
            "name": "incomingResponseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated quote shifts response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteShiftsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Quote not found"
          },
          "409": {
            "description": "Quote shift response does not have status ACCEPTED"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{incomingRfqId}/quoteshifts": {
      "get": {
        "summary": "List outgoing quote shifts",
        "description": "The quote shifts endpoint returns a list of all quote shifts.\n",
        "tags": [
          "Quote shifts - outgoing"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "incomingRfqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of quote shifts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShift"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create quote shift",
        "description": "Endpoint for creating a new quote shift.",
        "parameters": [
          {
            "in": "path",
            "name": "incomingRfqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "description": "Quote shift to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "rfq-shift-id": {
                    "type": "string",
                    "format": "ObjectId",
                    "description": "The corresponding shift-id from the RfQ."
                  },
                  "booked-user": {
                    "type": "object",
                    "description": "Suggested user for this shift",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of worker"
                      },
                      "id-no": {
                        "type": "string",
                        "description": "National identification number (personnummer) of the worker"
                      },
                      "id": {
                        "type": "string",
                        "format": "ObjectId",
                        "description": "User id of worker"
                      }
                    },
                    "required": [
                      "name",
                      "id-no"
                    ]
                  },
                  "outgoing-rfq-id": {
                    "type": "string",
                    "description": "Id of the rfq parent this rfq was created from.\n",
                    "format": "ObjectId"
                  },
                  "incoming-rfq-id": {
                    "type": "string",
                    "description": "Id of the RfQ.\n",
                    "format": "ObjectId"
                  }
                },
                "required": [
                  "rfq-shift-id",
                  "booked-user",
                  "outgoing-rfq-id",
                  "incoming-rfq-id",
                  "client-id"
                ]
              }
            }
          }
        },
        "tags": [
          "Quote shifts - outgoing"
        ],
        "responses": {
          "200": {
            "description": "Newly added quote shift",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteShift"
                }
              }
            }
          },
          "400": {
            "description": "A valid outgoing rfq is required / Expecting booked users to contain exactly one id\n"
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{incomingRfqId}/quoteshifts/{quoteShiftId}": {
      "get": {
        "summary": "Fetch single quote shift",
        "description": "Endpoint for fetching a single quote shift.\n",
        "tags": [
          "Quote shifts - outgoing"
        ],
        "parameters": [
          {
            "name": "quoteShiftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          },
          {
            "in": "path",
            "name": "incomingRfqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single quote shift",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteShift"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete quote shift",
        "description": "Deletion can only be done if shift is in DRAFT state.",
        "tags": [
          "Quote shifts - outgoing"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "quoteShiftId",
            "description": "Setting ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "incomingRfqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Cannot delete quote shift that has been sent"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{incomingRfqId}/quoteshifts/{quoteShiftId}/send": {
      "post": {
        "summary": "Send quote shift",
        "description": "Endpoint for sending quote shift to scheduler.\n",
        "parameters": [
          {
            "name": "quoteShiftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          },
          {
            "in": "path",
            "name": "incomingRfqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "tags": [
          "Quote shifts - outgoing"
        ],
        "responses": {
          "201": {
            "description": "OK"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Already sent"
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{incomingRfqId}/shifts": {
      "get": {
        "summary": "List rfq shifts",
        "description": "The rfq shifts endpoint returns a list of all incoming rfq shifts.\n",
        "tags": [
          "RfQ shifts - incoming"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "incomingRfqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of RfQ shifts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RfqShift"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{incomingRfqId}/shifts/{rfqShiftId}": {
      "get": {
        "summary": "Fetch single RfQ shift",
        "description": "Endpoint for fetching a single RfQ shift.\n",
        "tags": [
          "RfQ shifts - incoming"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "incomingRfqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          },
          {
            "name": "rfqShiftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single RfQ shift",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RfqShift"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/incoming/{rfqId}": {
      "get": {
        "summary": "Fetch single RfQ",
        "description": "Endpoint for fetching a single RfQ",
        "tags": [
          "RfQs - incoming"
        ],
        "parameters": [
          {
            "name": "rfqId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single RfQ object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rfq"
                }
              }
            }
          },
          "404": {
            "description": "RfQ not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/outgoing": {
      "get": {
        "summary": "Fetch Outgoing RfQs",
        "description": "The Outgoing RfQs endpoint returns an array of all outgoing rfq parents.\n",
        "tags": [
          "RfQs - outgoing"
        ],
        "responses": {
          "200": {
            "description": "An array of rfq parents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OutgoingRfq"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create outgoing RfQ",
        "description": "Endpoint for creating a new request for quotes\n\nTo create an RfQ you first need to fetch an order form. You should then use `id`, `vid` and `fields` to build your outgoing RFQ object.\n",
        "requestBody": {
          "description": "Outgoing RfQ object to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OutgoingRfq"
                  },
                  {
                    "required": [
                      "form-id",
                      "form-vid",
                      "client-id",
                      "supplier-id",
                      "values"
                    ]
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "RfQs - outgoing"
        ],
        "responses": {
          "200": {
            "description": "Newly added outgoing RfQ object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutgoingRfq"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/outgoing/{outgoingRfqId}": {
      "get": {
        "summary": "Fetch single outgoing RfQ",
        "description": "Endpoint for fetching a single outgoing RfQ.\n",
        "tags": [
          "RfQs - outgoing"
        ],
        "parameters": [
          {
            "name": "outgoingRfqId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single outgoing RfQ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutgoingRfq"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update outgoing RfQ",
        "description": "Send updates to an outgoing RfQ that has not been SENT. Only updates to \"expires\" are allowed otherwise.\n\nSide effects:\n* If \"expires\" is updated, linked incoming RfQ's will also have \"expires\" updated.\n",
        "parameters": [
          {
            "name": "outgoingRfqId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutgoingRfq"
              }
            }
          },
          "required": true
        },
        "tags": [
          "RfQs - outgoing"
        ],
        "responses": {
          "200": {
            "description": "Updated outgoing RfQ object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutgoingRfq"
                }
              }
            }
          },
          "400": {
            "description": "This property cannot be changed after outgoing RfQ has been sent."
          },
          "404": {
            "description": "outgoing RfQ not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rfqs/v1/rfqs/outgoing/{outgoingRfqId}/quoteshiftresponses": {
      "get": {
        "summary": "Fetch quote shift responses",
        "description": "Endpoint returns an array of all quote shift responses.\n",
        "tags": [
          "Quote shift responses - outgoing"
        ],
        "parameters": [
          {
            "name": "outgoingRfqId",
            "in": "path",
            "description": "The quote shifts response id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of quote shift responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteShiftsResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create quote shift response",
        "description": "Endpoint for a client to respond to a set of quote shifts.\n\nSide effects:\n* When ACCEPTED, linked quote shifts will be added to the list of accepted quote shifts for respective rfq shifts.\n* Linked quote shifts statuses are updated with the same status.\n* When ACCEPTED, incoming rfq gets same status.\n",
        "tags": [
          "Quote shift responses - outgoing"
        ],
        "parameters": [
          {
            "name": "outgoingRfqId",
            "in": "path",
            "description": "The quote shifts response id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ObjectId"
            }
          }
        ],
        "requestBody": {
          "description": "RfQ parent object to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Quote shifts state",
                    "enum": [
                      "ACCEPTED",
                      "REJECTED"
                    ]
                  },
                  "supplier-id": {
                    "type": "string",
                    "description": "Id of the company owning the quote shifts.\n",
                    "format": "ObjectId"
                  },
                  "quote-shift-ids": {
                    "type": "array",
                    "description": "List of quote shift ids.",
                    "items": {
                      "type": "string",
                      "format": "ObjectId"
                    }
                  },
                  "outgoing-rfq-id": {
                    "type": "string",
                    "description": "Id of the rfq parent this rfq was created from.\n",
                    "format": "ObjectId"
                  },
                  "incoming-rfq-id": {
                    "type": "string",
                    "description": "Id of the RfQ.\n",
                    "format": "ObjectId"
                  }
                },
                "required": [
                  "status",
                  "supplier-id",
[...]
