swagger: '2.0'
info:
  title: TimeZynk API
  description: API for TimeZynk scheduling system
  version: "2.2.0"
host: pro.timezynk.com
schemes:
  - https
basePath: /api
consumes:
  - application/json
produces:
  - application/json
security:
  - TZUserAuth: [] 
securityDefinitions:
  TZUserAuth:
    type: oauth2
    tokenUrl: https://pro.timezynk.com/api/oauth2/v1/token
    flow: password

paths:
  /users:
    get:
      summary: Users
      description: |
        The Users endpoint returns information about all the registered users for this company.
      parameters:
        - name: role
          in: query
          description: Search by user role
          required: false
          type: string
      tags:
        - User
      responses:
        200:
          description: An array of users
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create user
      description: Add a new user to the company
      parameters:
        - in: body
          name: body
          description: User object to be added to the company
          required: true
          schema:
            $ref: '#/definitions/User'
      tags:
        - User
      responses:
        200:
          description: Newly added user object
          schema:
            $ref: '#/definitions/User'
  /users/{userId}:
    get:
      summary: Fetch single user
      tags:
        - User
      parameters:
        - name: userId
          in: path
          required: true
          type: string
          format: ObjectId
      responses:
        200:
          description: A single user object
          schema:
            $ref: '#/definitions/User'
        404:
          description: User not found
    put:
      summary: Update user
      tags:
        - User
      parameters:
        - name: userId
          in: path
          required: true
          type: string
          format: ObjectId
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        200:
          description: The updated user object
          schema:
            $ref: '#/definitions/User'
        404:
          description: User not found
  /shifts:
    get:
      summary: Fetch planned shifts
      parameters:
        - name: start[_gte_]
          in: query
          type: string
          format: date
          description: Find shifts starting at or after date
          required: true
        - name: end[_lt_]
          in: query
          type: string
          format: date
          description: Find shifts starting before date
          required: true
        - name: booked-users
          in: query
          type: string
          format: ObjectId
          description: Find shifts where the given user id is booked
      tags:
        - Shift
      responses:
        200:
          description: Array of shifts
          schema:
            type: array
            items:
              $ref: '#/definitions/Shift'
    post:
      summary: Create planned shift
      parameters:
        - name: body
          in: body
          description: Shift to be added
          required: true
          schema:
            $ref: '#/definitions/Shift'
      tags:
        - Shift
      responses:
        200:
          description: Newly added shift object
          schema:
            $ref: '#/definitions/Shift'
        400:
          description: Validation failed
  /shifts/{shiftId}:
    get:
      summary: Fetch planned shift
      parameters:
        - name: shiftId
          in: path
          type: string
          format: ObjectId
          required: true
      tags:
        - Shift
      responses:
        200:
          description: Shift object
          schema:
            $ref: '#/definitions/Shift'
        404:
          description: Shift not found
    put:
      summary: Update planned shift
      parameters:
        - name: shiftId
          in: path
          type: string
          format: ObjectId
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Shift'
      tags:
        - Shift
      responses:
        200:
          description: Updated shift object
          schema:
            $ref: '#/definitions/Shift'
        400:
          description: Validation failed
        404:
          description: Shift not found
    delete:
      summary: Delete planned shift
      parameters:
        - name: shiftId
          in: path
          type: string
          format: ObjectId
          required: true
      tags:
        - Shift
      responses:
        200:
          description: Delete successful
definitions:
  User:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier representing a specific user
        format: ObjectId
      username:
        type: string
        description: Unique username used for logging in
      role:
        type: string
        description: The role for this user
      email:
        type: string
        description: User email address
        format: email
      employee-no:
        type: string
        description: User employee number
      id-no:
        type: string
        description: |
          Users [National Indentification Number](https://en.wikipedia.org/wiki/National_identification_number)
      bank-account:
        type: string
        description: Users bank account for salary payments
      department:
        type: string
        description: department
      company:
        type: string
        description: company for salary export
      country-code:
        type: number
        description: country code for mobile number
      mobile:
        type: string
        description: mobile number
      work-phone:
        type: string
        description: work phone number
      home-phone:
        type: string
        description: home phone number
      lang:
        type: string
        description: users preferred language (en,sv,da or nb currently supported)
      address:
        type: string
        description: users street address
      address2:
        type: string
        description: users second address line
      zip:
        type: string
        description: users zip code
      city:
        type: string
        description: users city
      country:
        type: string
        description: users country code
      int-mobile:
        type: string
        readOnly: true
        description: users full mobile with country code applied
      relative-name:
        type: string
        description: name of relative
      relative-phone:
        type: string
        description: phone number of relative
      notes:
        type: string
        description: notes for this user
      start:
        type: string
        format: date
        description: start date for users employment
      end:
        type: string
        format: date
        description: end date for users employment
      permissions:
        type: array
        description: List of tags
        items:
          type: string
      combinations:
        type: array
        description: List of users tag combinations
        readOnly: true
        items:
          type: string
      created:
        type: number
        description: creation timestamp (milliseconds since unix epoch)
      changed:
        type: number
        description: last changed timestamp (milliseconds since unix epoch)
      last-login:
        type: number
        description: last login timestamp (milliseconds since unix epoch)
      last-access:
        type: number
        description: last access timestamp (milliseconds since unix epoch)
      first-login:
        type: number
        description: first login timestamp (milliseconds since unix epoch)
    required:
      - id
      - username
      - role
      - email
  Shift:
    type: object
    properties:
      id:
        type: string
        description: Unique shift ID
        format: ObjectId
      start:
        type: string
        format: date-time
        description: Start of shift
      end:
        type: string
        format: date-time
        description: End of shift
      breaks:
        type: array
        description: List of breaks
        items:
          $ref: '#/definitions/Break'
      booked-users:
        type: array
        description: List of booked users
        items:
          type: string
          format: ObjectId
      booked:
        type: number
        readOnly: true
        description: Number of booked users
      duplicity:
        type: number
        description: Maximum (and desired) number of booked users
      values:
        type: object
        description: Values for custom registry fields
      withhold:
        type: boolean
        description: Hide shift from users making it visible for managers only
    required:
      - id
      - start
      - end
  Break:
    type: object
    properties:
      start:
        type: string
        format: date-time
        description: Start of shift
      end:
        type: string
        format: date-time
        description: End of shift
    required:
      - start
      - end
  Error:
    type: object
    properties:
      error:
        type: string
      trace:
        type: string